.nav {
  position: relative;
  top: 0;
  width: 100%;
  padding: 20px;
  height: 15px;
  display: flex;
  justify-content: space-between;
  background-color: black;
}

.nav_logo {
  position: relative;
  margin-top: auto;
  left: 20px;
  height: 20px;
  width: 80px;
  object-fit: contain;
}

.nav_avatar {
  position: relative;
  height: 25px;
  right: 30px;
  width: 30px;
  object-fit: contain;
}
