.row {
  color: white;
  margin-left: 20px;
}

.row_poster {
  display: flex;
  overflow-y: hidden;
  overflow-x: scroll;
  padding: 20px;
}
.row_poster::-webkit-scrollbar {
  display: none;
}

.poster {
  object-fit: contain;
  width: 100%;
  max-height: 100px;
  margin-right: 30px;
  transition: transform 400ms;
}

.poster:hover {
  transform: scale(1.08);
}

.row__posters {
  max-height: 250px;
}
.row__posters {
  transform: scale(1.09);
}
